/* SOCIAL MEDIA ICONS
.Connect{
  float: right;
  margin: 3px;
  margin-right: 25px;
}
.Connect i {
  padding: 7px;
  margin: 5px;
  height: 25px;
  width: 25px;
  font-size: 25px;
  border-radius: 50%;
  margin-left: 15px;
}
.fa-instagram {
  background: #f3197e;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: white;
  color: black;
}
.fa-instagram:hover {
  background: white;
  color: #f3197e;
  transition:ease-in-out 0.4s;
}
.fa-linkedin:hover {
  background: white;
  color: #007bb5;
  transition:ease-in-out 0.4s;
}
.fa-github:hover {
  background: black;
  color: white;
  transition:ease-in-out 0.4s;
} */