/* SOME GENERAL CSS COMMON TO THE PAGE */
html{
    scroll-behavior: smooth;
}
body , footer {
  font-family:   box,sans-serif;
  margin: 0px;
  background-color:#00000009;
  /* text-align: center; */
}

@font-face {
  font-family: box;
  src: url(/rishab310.github.io/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}
a {
  text-decoration: none;
}
/* ALL MIN CSS */
.bold {font-weight: bold;}.heading {font-size: 1.5em;text-transform: capitalize;font-weight: bolder;text-decoration: underline;}.discription-text {font-family: box;font-size: 1.1rem;}.left {text-align: left;}.right {text-align: right;}.center {text-align: center;}.uniform {text-align: justify;}.block{display: block;}.box{font-family: box;}

/* NAVIGATION MENU */
#myTopNav {
  overflow: hidden;
  background-color:#000000ce;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}

#logo {
  font-weight: bolder;
  font-size: 25px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  font-size: 1.1rem;
}

.navigation:hover {
  background-color: #ddd;
  color: black;
}

.icon {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  font-size: 1.5rem;
  display: none;
  margin-right: 0px;
}

.icon:hover {
  background-color: #ddd;
  cursor: pointer;
  color: black;
}

/* SOCIAL MEDIA ICONS */
.Connect {
  float: right;
  display: block;
  margin: 3px;
  margin-right: 25px;
  overflow: hidden;
}
.Connect i {
  padding: 7px;
  margin: 3px;
  height: 25px;
  width: 25px;
  font-size: 25px;
  border-radius: 50%;
  margin-left: 15px;
  overflow: hidden;
}
.fa-instagram {
  background: #f3197e;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: white;
  color: black;
}
.fa-instagram:hover {
  background: white;
  color: #f3197e;
  transition: ease-in-out 0.4s;
}
.fa-linkedin:hover {
  background: white;
  color: #007bb5;
  transition: ease-in-out 0.4s;
}
.fa-github:hover {
  background: black;
  color: white;
  transition: ease-in-out 0.4s;
}

@media screen and (max-width: 700px) {
  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  #myTopNav{
    overflow: hidden;
  }
  .Connect {
    float: none;
    text-align: left;
    padding-left: 10px;
  }
  #logo {
    display: block;
    float: none;
    text-align: left;
  }
  .response .navigation {
    display: block;
    float: none;
    text-align: left;
    padding-left: 30px;
  }
}
#welcome {
  position: absolute;
  padding-left: 7%;
  top: 30%;
  color: white;
  font-weight: bolder;
  font-size: 7vw;
}
.container {
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  padding-top: 10px;
  box-shadow: -1px -1px 20px 2px rgb(43, 42, 43);
  width: 80%;
  max-width: 1000px;
  height: auto;
  border-radius: 7px;
  background-color: white;
  transition: 0.4s;
}

/* .abt {
  padding-left: 0px;
} */

.container:hover {
  margin-top: 25px;
}

#myPic {
  width: 80%;
  display: block;
  margin: auto;
  min-width: 200px;
  max-width: 250px;
  border-radius: 15px;
}

.container-grid {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr ;
}

.container-grid #img-div {
  /* background-color: #f3197e; */
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 10px;
}

.container-grid #text-info-div {
  display: inline-block;
  padding: 5px;
  padding-top: 0px;
  /* background-color: yellow; */
}

#text-info-div p {
  line-height: 2;
}

@media screen and (max-width:700px) {
  .container-grid {
    display: block;
  }
  #welcome {
    top: 15%;
  }
}

#to-top{
  position: fixed;
  color: #05040aab;
  text-align: left;
  font-size: 2em;
  bottom: 30px;
  left: 20px;
}
